<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048524991219-2voj3ctf1n2b1kq9u0i97b8csboi3bmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048524991219-2voj3ctf1n2b1kq9u0i97b8csboi3bmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDccNE3vQg2MDwFbYoQgyrRJbgLbdnpids</string>
	<key>GCM_SENDER_ID</key>
	<string>1048524991219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ihome</string>
	<key>PROJECT_ID</key>
	<string>ihome-45f64</string>
	<key>STORAGE_BUCKET</key>
	<string>ihome-45f64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048524991219:ios:c1877c8444134848e4e586</string>
</dict>
</plist>